<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{0}</title>
    <link rel="stylesheet" type="text/css" href="{1}/static/css/style.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
    <div id=container>
        <div id="nav">
            <h1>{2}</h1>
        </div>
        <div id="index">
            {3}
        </div>
    </div>
    <div id="footer">
        <p>Copyright © {4} {5}. Powered by
            <a href="http://tunkshif.github.io/" target="_blank">Arco</a>.</p>
    </div>
</body>
</html>